<h1><%= @test.title %></h1>

<form class="questions_form" id="questions_form" method="POST" action="/tests/<%= @test.id %>/solve">
  <% @test.questions.each do |question| %>
    <div class="question">
      <p class="question_body"><%= question.body %>:</p>

      <div class="question_answers">
        <% question.answers.each do |answer| %>
          <% option_id = "option#{answer.id}" %>
          <input type="radio" id="<%= option_id %>" name="question_<%= question.id %>" value="<%= answer.id %>">
          <label for="<%= option_id %>"><%= answer.body %></label>
        <% end %>
      </div>
    </div>
  <% end %>


  <button onclick="onSubmit()" type="button">Отправить</button>
  <span id="error_message" style="visibility: hidden; color: red">Ответьте на все вопросы</span>
</form>

<script>
  let question_number = <%= @test.questions.size %>;

  function isValid() {
    let inputs_number = document.querySelectorAll('input[type="radio"]:checked').length;
    
    return inputs_number == question_number;
  }

  function onSubmit(){
    if (isValid()) {
      document.getElementById("questions_form").submit();
    }
    else {
      document.getElementById('error_message').style.visibility = 'visible';
    }
  }
</script>
